*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
}
body{
    background: #efefef;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    /* For horizontaly align */
    display: inline-block; 
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.conatiner{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sideBar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* height: 100vh; */
}
.right-sideBar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* height: 100vh; */
}
.main-content{
    flex-basis: 47%;
}